<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'delivery/cart.css' %}">
</head>
<body>
    <div class="cart-container">
        <header class="header">Cart</header>
        {% if item %}
        <div class="cart-items">
            {% for p in item %}
            <div class="cart-item">
                <img src="{{ p.item.picture }}" alt="{{ cart_item.item.name }}" class="item-image">
                <div class="item-details">
                    <p><strong>Name:</strong> {{ p.item.name }}</p>
                    <p><strong>Price:</strong> ₹{{ p.item.discount_price }}</p>
                    <p><strong>Quantity:</strong></p>
                    <div class="quantity-controls">
                        <form method="POST" action="{% url 'decrese_quantity' p.id %}">
                            {% csrf_token %}
                            <button type="submit" class="decrease-btn">-</button>
                        </form>
                        <div class="quantity-display">{{ p.quantity }}</div>
                        <form method="POST" action="{% url 'increase_quantity' p.id %}">
                            {% csrf_token %}
                            <button type="submit" class="increase-btn">+</button>
                        </form>
                    </div>
                    <p><strong>Total Price:</strong> ₹{{ p.total_price }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="cart-summary">
            <h3>Total Price: ₹{{ total_price }}</h3>
        </div>
        <div class="cart-actions">
            <form method="get" action="{% url 'checkout' p.id %}">
                <button type="submit" class="checkout-btn">Proceed to Checkout</button>
            </form>
            <a href="{% url 'home' p.id %}" class="back-home-btn">Back to Home</a>
        </div>
        {% else %}
        <p class="empty-cart">Your cart is empty!</p>
        <a href="{% url 'home' p.id %}" class="back-home-btn">Back to Home</a>
        {% endif %}
    </div>
</body>
</html>
