<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/del.css' %}">
    <title>Delete Post</title>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-logo">
                <img src="{% static 'delivery/logo.png' %}" alt="NB Logo" class="logo">
            </div>  
            <div class="nav-right">
                <a href="{% url 'stock_view' userid=p.id %}" class="nav-link">Home</a>
            </div>    
        </nav>
    </header>
    <h1>Are you sure you want to delete "{{ u.name }}"?</h1>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Yes, Delete</button>
        <a href="{% url 'stock_view' userid=p.id %}">Cancel</a>

    </form>
    <footer class="footer">
        <div class="footer-content">
            <p>© 2025 My Store | Designed with ❤️ by Your Team And NB</p>
            <ul class="footer-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer> 
</body>
</html>
