<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    {% load static %}
    <link rel="stylesheet"  href="{% static 'delivery/login.css' %}">
</head>
<body>
    <div class="login-container">
        <img src="{% static 'delivery/logo.png' %}" alt="Logo" class="login-logo"> <!-- Add your logo here -->

    
    <form method="post" action="{% url 'handle_login' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Login</legend>
            <label>Name: </label>
            <input type="text" name="username" placeholder="Enter the username" required><br>
            <label>Password: </label>
            <input type="password" name="password" placeholder="Enter the password" required><br>
            <button type="submit">submit</button>
        </fieldset>
        <a href="{% url 'handle_singup' %}">New user?</a>
        <a href="{% url 'send_otp' %}">password?</a>
        {% if error_message %}
            <p style="color: red;">{{ error_message }}</p>
        {% endif %}
    </form>
</div>
</body>
</html>