<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>updating</title>
    {% load static %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'delivery/admin.css' %}">
    <script src="{% static 'delivery/de.js' %}"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="nav-logo">
                <img src="{% static 'delivery/logo.png' %}" alt="NB Logo" class="logo">
            </div>  
            <div class="nav-right">
                <a href="{% url 'stock_view' userid=p.id %}" class="nav-link">Home</a>
            </div>    
        </nav>
    </header>
    <form method="post" >
        {% csrf_token %}
        {% for p in post%}
        <label>Name: </label>
        <input type="text" name="name" required value="{{p.name}}">
        <label>Discription: </label>
        <input type="text" name="bio" required value="{{p.bio}}">
        <label>Image url: </label>
        <input type="url" name="picture" required value="{{p.picture}}">
        <label>Price: </label>
        <input type="text" name="price" required value="{{p.price}}">
        <label>Discount: </label>
        <input type="text" name="discount" required value="{{p.discount}}">
        <select name="catagery" >select catagery
            <option value="shirt">Shirt</option>
            <option value="pants">Pants</option>
            <option value="accessories">Accessories</option>
        </select>
        <button type="submit" onclick="avoid_default(event)"> submit</button>
    </form>
    {% endfor %}
    {% if error_message %}
    <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <footer class="footer">
        <div class="footer-content">
            <p>© 2025 My Store | Designed with ❤️ by Your Team And NB</p>
            <ul class="footer-links">
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
    </footer> 
</body>
</html>